/******************************************************************************************
 * Google Font
******************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans:300,400,600,700|Muli:200,200i,300,300i,400,400i,600,700,800,900|Open+Sans:300,400,600,600i,700,800|Raleway:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	list-style: none;
	word-wrap: break-word
}

body {
	color: #908f8f;
	background: #fff;
	line-height: 1.3;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif
}

.bg_color {
	background: #f9f9f9!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Muli', sans-serif;
	margin: 0;
	margin-bottom: 5px;
	color: #4c4c4c
}

p {
	font-size: 14px;
	color: #4c4c4c;
	line-height: 1.8;
	margin: 0;
	padding: 0;
	padding-bottom: 1em
}

.section-padding {
	display: block;
	overflow: hidden
}

img {
	width: 100%;
	height: auto
}

span,
a,
a:hover {
	display: inline-block;
	text-decoration: none;
	color: inherit
}

.section-padding {
	padding: 6% 0
}

.section-head {
	margin-bottom: 8%;
	position: relative;
	text-align: center
}

.section-head h2 {
	font-family: 'Acme', sans-serif
}

.o-hidden {
	overflow: hidden
}

.full-width {
	width: 100%!important;
	margin: auto
}

.delay-150ms {
	-webkit-animation-delay: 150ms;
	animation-delay: 150ms
}

.delay-200ms {
	-webkit-animation-delay: 200ms;
	animation-delay: 200ms
}

.delay-250ms {
	-webkit-animation-delay: 250ms;
	animation-delay: 250ms
}

.delay-300ms {
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms
}

.delay-350ms {
	-webkit-animation-delay: 350ms;
	animation-delay: 350ms
}

.delay-400ms {
	-webkit-animation-delay: 400ms;
	animation-delay: 400ms
}

.delay-450ms {
	-webkit-animation-delay: 450ms;
	animation-delay: 450ms
}

.delay-500ms {
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms
}

.delay-550ms {
	-webkit-animation-delay: 550ms;
	animation-delay: 550ms
}

.delay-600ms {
	-webkit-animation-delay: 600ms;
	animation-delay: 600ms
}

.delay-650ms {
	-webkit-animation-delay: 650ms;
	animation-delay: 650ms
}

.delay-700ms {
	-webkit-animation-delay: 700ms;
	animation-delay: 700ms
}

.delay-750ms {
	-webkit-animation-delay: 750ms;
	animation-delay: 750ms
}

.delay-800ms {
	-webkit-animation-delay: 800ms;
	animation-delay: 800ms
}


/******************************************************************************************
 * Button Style
******************************************************************************************/

.buton {
	position: relative;
	cursor: pointer
}

.buton button a,
.buton a {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	width: 130px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer
}

.buton button:before,
.buton a:before {
	content: attr(back);
	font-family: "Font Awesome\ 5 Free";
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	color: #17a2b8;
	border: 1px solid #17a2b8;
	line-height: 38px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transform: translateY(-100%) rotateX(90deg);
	transform: translateY(-100%) rotateX(90deg)
}

.buton button:after,
.buton a:after {
	content: attr(front);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #17a2b8;
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transform: translateY(0) rotateX(0deg);
	transform: translateY(0) rotateX(0deg)
}

.buton button:hover:before,
.buton a:hover:before {
	-webkit-transform: translateY(0) rotateX(0deg);
	transform: translateY(0) rotateX(0deg)
}

.buton button:hover:after,
.buton a:hover:after {
	-webkit-transform: translateY(100%) rotateX(90deg);
	transform: translateY(100%) rotateX(90deg)
}

.buton-bord button:before,
.buton-bord a:before {
	background: #17a2b8;
	color: #fff;
	border-color: #17a2b8!important
}

.buton-bord button:after,
.buton-bord a:after {
	background: transparent;
	color: #17a2b8;
	border: 1px solid #17a2b8
}

.buton-lg button,
.buton-lg a {
	width: 160px
}

.buton-dark button:before,
.buton-dark a:before {
	color: #222;
	border: 1px solid #222
}

.buton-dark button:after,
.buton-dark a:after {
	background: #222
}

button:focus {
	text-decoration: none;
	outline: 0;
}

.btn-one {
	cursor: pointer;
	background: #49dbf3;
	border: 2px solid #49dbf3;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	display: inline-block;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	position: relative;
	z-index: 2;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	padding: 0;
	line-height: 42px;
	min-width: 170px;
	height: 44px;
	letter-spacing: 1px;
	margin-right: 15px;
	border-radius: 2px;
	-webkit-box-shadow: 0 9px 15px #d1f5fb;
	box-shadow: 0 9px 15px #d1f5fb;
}

.btn-one:hover {
	background: #00bcd4;
	border: 2px solid #00bcd4;
	color: white
}


/******************************************************************************************
 * Preloading Style 
******************************************************************************************/

.cube-folding {
	width: 50px;
	height: 50px;
	display: inline-block;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	font-size: 0;
}

.cube-folding span {
	position: relative;
	width: 25px;
	height: 25px;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	display: inline-block;
}

.cube-folding span::before {
	content: '';
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 25px;
	height: 25px;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: folding 2.5s infinite linear both;
	animation: folding 2.5s infinite linear both;
}

.cube-folding .leaf2 {
	-ms-transform: rotateZ(90deg) scale(1.1);
	-webkit-transform: rotateZ(90deg) scale(1.1);
	transform: rotateZ(90deg) scale(1.1);
}

.cube-folding .leaf2::before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	background-color: #f2f2f2;
}

.cube-folding .leaf3 {
	-ms-transform: rotateZ(270deg) scale(1.1);
	-webkit-transform: rotateZ(270deg) scale(1.1);
	transform: rotateZ(270deg) scale(1.1);
}

.cube-folding .leaf3::before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	background-color: #f2f2f2;
}

.cube-folding .leaf4 {
	-ms-transform: rotateZ(180deg) scale(1.1);
	-webkit-transform: rotateZ(180deg) scale(1.1);
	transform: rotateZ(180deg) scale(1.1);
}

.cube-folding .leaf4::before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	background-color: #e6e6e6;
}

@-webkit-keyframes folding {
	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes folding {
	0%,
	10% {
		-ms-transform: perspective(140px) rotateX(-180deg);
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		-ms-transform: perspective(140px) rotateX(0deg);
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		-ms-transform: perspective(140px) rotateY(180deg);
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.cube-wrap {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	text-align: center;
}

.cube-wrap:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	margin: auto;
	width: 90px;
	height: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-filter: blur(2px);
	filter: blur(2px);
	border-radius: 100%;
	z-index: 1;
	-webkit-animation: shadow 0.5s ease infinite alternate;
	animation: shadow 0.5s ease infinite alternate;
}

.cube-wrap .loading {
	font-size: 12px;
	letter-spacing: 0.1em;
	display: block;
	color: white;
	position: relative;
	top: 25px;
	z-index: 2;
	-webkit-animation: text 0.5s ease infinite alternate;
	animation: text 0.5s ease infinite alternate;
}

@-webkit-keyframes text {
	100% {
		top: 35px;
	}
}

@keyframes text {
	100% {
		top: 35px;
	}
}

@-webkit-keyframes shadow {
	100% {
		bottom: -18px;
		width: 100px;
	}
}

@keyframes shadow {
	100% {
		bottom: -18px;
		width: 100px;
	}
}

.loder {
	height: 100%;
	width: 100%;
	background: #222222;
	position: fixed;
	z-index: 99999;
}

.made-with-love {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 10px;
	text-align: center;
	font-size: 10px;
	z-index: 9999;
	font-family: arial;
	color: #f23333;
}

.made-with-love i {
	font-style: normal;
	color: #F50057;
	font-size: 14px;
	position: relative;
	top: 2px;
}

.made-with-love a {
	color: #f23333;
	text-decoration: none;
}

.made-with-love a:hover {
	text-decoration: underline;
}


/******************************************************************************************
 * Header Main Menu
******************************************************************************************/

header .nav-menu {
	position: absolute;
	width: 100%;
	z-index: 100;
	padding: 12.8px 16px;
	padding: 12.8px 16px;
	padding: .8rem 1rem
}

nav.navbar.scroll-change {
	background: white;
	position: fixed;
	top: -80px;
	-webkit-transform: translateY(80px);
	-ms-transform: translateY(80px);
	transform: translateY(80px);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 6.4px 16px;
	padding: 6.4px 16px;
	padding: .4rem 1rem;
	border-bottom: 1px solid #e3e3e3
}

header .nav-menu:after {
	content: '';
	width: 100%;
	position: absolute;
	height: 1px;
	background: #ffffff0a;
	bottom: 0;
	-webkit-transform: scaleX(.85);
	-ms-transform: scaleX(.85);
	transform: scaleX(.85);
}

nav a.navbar-brand {
	font-family: 'Acme', sans-serif;
	font-size: 214%;
	color: white
}

.navbar-brand img {
	max-width: 145px;
	max-height: 85px;
}

nav span.text-info {
	color: #21c8e2!important
}

.header-icon span i {
	color: white;
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	font-size: 115%;
	padding: 2px
}

.header-icon span i:hover {
	color: #5cc6df
}

ul.filter-nav li a,
nav.navbar li a {
	color: white;
	font-size: 14px;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	position: relative;
	letter-spacing: 1px
}

header .navbar li a.active:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #5cc6df;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2px;
	-webkit-transform: scaleX(0.4);
	-ms-transform: scaleX(0.4);
	transform: scaleX(0.4);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

header .navbar li a.active,
header .navbar li a:hover {
	color: #5cc6df!important
}

nav.navbar.scroll-change a.navbar-brand,
div#nav.s-color a.nav-link,
nav.navbar.scroll-change .header-icon span i {
	color: #4c4c4c
}


/******************************************************************************************
 * Header Image
******************************************************************************************/

.header-image {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/header-img.jpg);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .75)), to(rgba(0, 0, 0, .75))), url(../img/header-img.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/header-img.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/header-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 99%;
	height: 99vh;
	position: relative;
	padding: 10px 0;
}

.header-content {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 2%;
	padding: 25px 0;
}

.header-content h2 {
	font-family: 'Acme', sans-serif;
	color: white;
	font-size: 430%
}

.header-content h3 {
	color: white;
	font-size: 262%;
	margin-top: 1%;
	margin-bottom: 3%;
	font-family: 'Josefin Sans', sans-serif
}

.short-into {
	padding: 10px 22px;
	border-radius: 0;
	background: #464646;
	background: #ffffff0a!important;
	letter-spacing: 3px;
	color: white;
	max-width: 315px;
}

.short-into span {
	font-size: 94%;
	border-right: 1px solid;
	padding-right: 4px
}

.short-into span:last-child {
	border-right: 0
}

.feeling p {
	color: #e2e2e2;
	margin-top: 8%;
	font-size: 118%
}

#home.buton-bord button:after,
#home .buton-bord a:after,
.hire-section .buton-bord a:after {
	color: #fff;
	border-color: white
}

#home.buton button:before,
section#home .buton a:before {
	color: #fff;
	border-color: #fff
}

section.jumbotron.hire-section .buton button:before,
section.jumbotron.hire-section .buton a:before,
#home .buton button:before,
#home .buton a:before {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif
}


/******************************************************************************************
 * About ME - Hero Image
******************************************************************************************/

.hero .hero-img {
	padding: 0 20px 0 0;
	position: relative;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	max-width: 410px;
	margin: auto
}

.hero .hero-img:hover {
	padding: 0 0 0 20px
}

.hero .hero-img:hover:after {
	background: #f9f9f9;
	left: 5px;
	top: -15px;
	right: 15px;
	bottom: 15px
}

.hero .hero-img:after {
	content: '';
	background: #f5f5f5;
	position: absolute;
	left: 15px;
	right: 5px;
	top: 15px;
	bottom: -15px;
	z-index: -1;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

.hero .content p {
	margin-bottom: 15px;
	font-size: 15px
}

.hero .content p span {
	font-weight: 700
}

.hero .content .social-icon span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #eee;
	margin: 15px 5px 15px 0;
	cursor: pointer;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

.hero .content .social-icon span:hover {
	background: #17a2b8;
	border-color: #17a2b8;
	color: #fff
}

.hero .content .buton {
	margin-top: 30px
}


/******************************************************************************************
 * About Me - Progress Bar
******************************************************************************************/

.progress-skill {
	margin-top: 3%
}

.progress-skill h3 {
	margin-bottom: 5%;
	color: #4c4c4c;
	font-weight: 400;
	font-size: 25px
}

.progress-skill .skill {
	text-align: left;
	padding-bottom: 4%;
	overflow: hidden
}

.progress-skill .skill p {
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #868686;
	margin-bottom: .9%;
	font-weight: 600
}

.progress {
	height: 5px;
	overflow: visible;
	-webkit-box-shadow: inset 0 0 7px #c1bbbb;
	box-shadow: inset 0 0 7px #c1bbbb;
	position: relative
}

.progress .progress-bar {
	text-align: right;
	position: relative;
	border-radius: 30px;
	background: #17a2b8;
}

.progress-bar {
	width: 0%;
	-webkit-transition: all 1500ms;
	-o-transition: all 1500ms;
	transition: all 1500ms;
}

.progress .progress-bar:after {
	content: '';
	position: absolute;
	width: 4px;
	height: 20px;
	background: #00bcd4;
	right: 0;
	-webkit-box-shadow: -4px 2px 6px 0 #81868ab8;
	box-shadow: -4px 2px 6px 0 #81868ab8;
	top: -7px;
}

span.progress-tooltip {
	top: -25px;
	color: #464646;
	position: absolute;
	display: inline-block;
	width: 30px;
	padding: 1px 3px;
	left: 100%!important;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 0;
	font-size: 12px;
}

.progress .progress-bar:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	right: 4px;
	left: 0;
	top: 0;
	-webkit-box-shadow: 0 3px 5px #c6c2c2;
	box-shadow: 0 3px 5px #c6c2c2
}

.resume {
	padding: 29px 0
}

.resume .title {
	margin-bottom: 11%;
	letter-spacing: 2px
}

.resume .item h5 {
	font-size: 25px;
	font-weight: 400
}

.resume .item .icon {
	font-size: 30px;
	color: #c49b66;
	margin-bottom: 15px
}

.resume .item li {
	margin-bottom: 5%
}

.resume .item li:last-child {
	margin-bottom: 0
}

.resume .item li h6 {
	color: #7d7d7d;
	font-size: 16px;
	font-weight: 600;
	font-family: inherit;
	margin-bottom: 5px
}

.resume .item li p {
	color: #908f8f
}

.section-head h4 {
	font-size: 100%;
	color: #989898
}

.section-head h2 {
	font-size: 280%
}

.section-head h2 span:last-child {
	color: #17a2b8
}

.section-head h2 span.border-bottom {
	border-bottom: none!important;
	position: relative
}

.section-head h2 span.border-bottom:after {
	content: '';
	width: 98%;
	background: #17a2b8;
	height: 1px;
	bottom: 0;
	position: absolute;
	left: 0;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}


/******************************************************************************************
 * Protfolio - Nav
******************************************************************************************/

ul.filter-nav li a {
	color: #333;
	border: 1px solid transparent
}

ul.filter-nav li a:hover {
	color: #17a2b8
}

ul.filter-nav li.active a {
	color: #17a2b8;
	border: 1px solid #17a2b8;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.portfolio {
	min-height: 415px;
}

.portfolio-items .container-fluid {
	padding-right: 0;
	padding-left: 0
}

.filter-portfolio [class*="col-"] {
	padding: 0;
}

.single-project {
	width: 100%;
	position: relative;
}

.single-project:before {
	content: "";
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	background: #222222;
	position: absolute;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	opacity: 0;
}

.overly {
	position: absolute;
	top: 50%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	padding: 20px;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	opacity: 0;
}

.single-project i {
	position: absolute;
	top: 15%;
	right: 10%;
	font-size: 22px;
	color: #22d5ec;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	opacity: 0;
}

.single-project:hover::before {
	opacity: .8;
}

.single-project:hover .overly,
.single-project:hover i {
	opacity: 1;
}

.overly h1 {
	color: #eaeaea;
	font-weight: 600;
	margin-bottom: 12px;
}

.overly p {
	color: #f4f4f4;
}

.single-project img {
	height: 222px;
}


/******************************************************************************************
 * 
******************************************************************************************/

section.jumbotron.hire-section {
	background: #000000e6;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/counter-bg.jpg);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .85)), to(rgba(0, 0, 0, .85))), url(../img/counter-bg.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/counter-bg.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/counter-bg.jpg);
	background-size: cover;
	background-position: 0 20%;
	background-attachment: fixed;
	display: block;
	max-width: 100%;
	overflow: hidden
}

.justify_start_center {
	position: relative;
	left: 50%;
	text-align: left;
	-webkit-transform: translateX(8%);
	-ms-transform: translateX(8%);
	transform: translateX(8%)
}

.justify_start_center h2 {
	font-size: 260%;
	margin: 0;
	color: white
}

.justify_start_center h2 span {
	color: white
}

.justify_start_center p {
	color: #acabab
}

.justify_start_center .section-head {
	margin-bottom: 0;
	text-align: left
}

.justify_start_center a {
	display: block;
	width: 90%;
	min-width: 198px;
	border-radius: 0;
	margin-top: 8%;
	font-family: 'Muli', sans-serif;
	border-color: #3ee0f9!important;
	color: #3ee0f9!important
}

.justify_start_center a:hover {
	background: transparent!important;
	color: white!important;
	border-color: white!important
}


/******************************************************************************************
 * 
******************************************************************************************/

.service-des {
	background: white;
	padding: 27px;
	border: 1px solid #dee2e68c!important;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	position: relative
}

.service-des:hover {
	-webkit-box-shadow: 0 10px 15px #5252521f;
	box-shadow: 0 10px 15px #5252521f;
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px)
}

.service-des h2 {
	font-size: 180%;
	font-family: 'Josefin Sans', sans-serif
}

.service-des i {
	font-size: 425%;
	color: #29c5de;
	margin-bottom: 13%;
	margin-top: 5%
}

.service-des h2 {
	font-size: 150%;
	color: #484848;
	margin-bottom: 2%;
	font-weight: 700
}

.service-des p {
	font-size: 96%;
	line-height: 22px;
	color: #888
}

.service-des span {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 25%;
	margin-top: 8%;
	font-family: 'Raleway', sans-serif;
	font-size: 486%;
	font-weight: 700;
	color: #eaeced
}


/******************************************************************************************
 * Testimonial 
******************************************************************************************/

#testimonial .section-head {
	margin-bottom: 4%
}

.carousel {
	width: 100%
}

.carousel i {
	font-size: 400%;
	margin-bottom: 2%;
	color: #17a2b8;
	text-align: center;
	display: block
}

.citem img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: auto;
	margin-bottom: 2%
}

.testimonials .citem p {
	font-size: 15px;
	word-spacing: 2px;
	width: 100%;
	max-width: 880px;
	font-style: italic;
	margin: auto;
	margin-bottom: 15px;
	color: #797979
}

.testimonials .citem h5 {
	font-size: 16px;
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	position: relative;
	color: #17a2b8;
	font-weight: bold;
}

.testimonials .citem h5:after {
	content: "|";
	position: absolute;
	right: -5px;
	bottom: 0
}

.testimonials .citem h6 {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	margin: 15px 0;
	color: #17a2b8;
	font-weight: bold;
}

.carousel-indicators {
	margin-top: 2%;
	position: relative;
}

.carousel-indicators li {
	background-color: #5cc6df;
}


/******************************************************************************************
 * 
******************************************************************************************/

section.counter-section .section-head h2 span.border-bottom {
	color: #f8f9fa
}

section.counter-section .section-head h2 {
	font-size: 260%
}

section.counter-section {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/counter-bg3.jpg);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, .8))), url(../img/counter-bg3.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/counter-bg3.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/counter-bg3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 12%
}

.counter_up {
	padding: 10%;
	border: 2px solid white;
	padding-bottom: 16px
}

.counter_up i {
	color: #49dbf3;
	font-size: 205%;
	position: relative;
	display: inline-block
}

.counter_up h5 {
	color: white;
	font-size: 202%;
	display: block;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif
}

.counter_up p {
	color: white;
	padding: 0;
	margin-top: 12%;
	position: relative;
	font-weight: bold
}

.counter_up p span {
	position: relative;
	font-weight: normal
}

.counter_up p span:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	background: #60e3f4;
	right: 50%;
	-webkit-transform: translate(50%);
	-ms-transform: translate(50%);
	transform: translate(50%)
}


/******************************************************************************************
 * 
******************************************************************************************/

#blog .card a.btn:focus {
	-webkit-box-shadow: none;
	box-shadow: none
}

#blog .card {
	border: 1px solid #f3f3f3;
	/* border: 1px solid #ecececb5; */
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	margin-bottom: 5%;
	border-radius: 0;
	overflow: hidden;
	background: #fdfdfd;
}

#blog .card-body .card-body {
	padding: 0
}

#blog .card-body .card img {
	margin-bottom: 6%
}

#blog .card>a {
	overflow: hidden
}

#blog .card>a img {
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in
}

#blog .card:hover>a img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05)
}

#blog .card-body .date-meta a {
	margin-bottom: 2%!important;
	font-style: italic;
	font-size: 95%
}

#blog .card-body .date-meta a span {
	color: #00bcd4;
}

#blog .card-body .date-meta a span:hover {
	color: #4dd8e9;
	color: #0bcce4d1;
}

#blog .card-body h5.card-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 160%;
	color: #2b2b2b;
	font-weight: 600;
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	margin-top: 2%
}

#blog .card-body h5.card-title:hover {
	color: #17a2b8
}

#blog .card-body .read-more {
	padding: 0;
	display: inline-block;
	color: #2b2b2b;
	border-bottom: 1px solid #2b2b2b;
	border-radius: 0;
	font-size: 100%
}

#blog .card-body .read-more:hover {
	color: #17a2b8;
	border-bottom: 1px solid #17a2b8
}


/******************************************************************************************
 * 
******************************************************************************************/

section.ourclients-section {
	margin: 0;
	padding-bottom: 0;
	padding-top: 0;
	background-color: #fff;
	border-top: 2px solid #f7f7f7;
	border-bottom: 2px solid white
}

.ourclints img {
	display: block;
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	max-width: 170px;
	max-height: 140px;
	height: auto;
	width: auto;
	margin: auto
}

.ourclints img:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}


/******************************************************************************************
 * 
******************************************************************************************/

select:focus,
select:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	outline: 0
}

#contact .form {
	background: #FFF;
	padding: 50px 30px;
	position: relative;
	border: 1px solid #eaeaea;
	text-align: left;
	overflow: hidden;
	-webkit-box-shadow: 0 0 7px #f3f3f3;
	box-shadow: 0 0 7px #f3f3f3;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="subject"]:focus,
textarea:focus,
select:focus,
button:focus {
	outline: 0;
	-webkit-box-shadow: none!important;
	box-shadow: none!important
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="subject"],
textarea {
	background: #f9f9f9;
	width: 100%;
	border: 1px solid #f5f5f5;
	outline: 0;
	padding: 13px 20px;
	resize: none;
	color: #666;
	font-size: 14px;
	font-weight: 400
}

#contact textarea {
	height: 150px;
	padding-top: 20px
}

#contact .form .btn-one {
	width: 100%
}

#contact .form .btn-one {
	width: 30%
}


/******************************************************************************************
 * 
******************************************************************************************/

#error404 {
	text-align: center;
}

#error404 h1 {
	font-size: 1000%;
}

#error404 h4 {
	font-size: 250%;
	margin-bottom: 12px;
}

.btn-404 {
	display: inline-block;
	background: #49dbf3;
	min-width: 130px;
	color: white;
	padding: 12px 20px;
	margin-top: 40px;
}

.btn-404:hover {
	color: white;
	opacity: .9;
}

#error404 p {
	color: #888888;
	font-size: 14px;
	max-width: 492px;
	margin: auto;
	padding: 0;
}

form label {
	color: #e60404;
	margin-top: 5px;
}


/******************************************************************************************
 * 
******************************************************************************************/

div#to_top {
	position: fixed;
	background: #49dbf3;
	color: white;
	padding: 2px 11px;
	bottom: 5%;
	font-size: 27px;
	right: 4%;
	display: none;
	cursor: pointer;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-iteration-count: 2;
	animation-iteration-count: 2;
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

div#to_top:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}


/******************************************************************************************
 * 
******************************************************************************************/

footer {
	padding: 45px 0;
	background-color: #343a40;
}

footer p {
	padding: 0;
	color: #c8c8c8;
	font-weight: 100
}

.footer-social a {
	display: inline-block;
	margin: 0 9px;
	color: #c8c8c8;
	margin-bottom: .91%
}

.footer-social a:hover {
	color: #49dbf3
}

footer p a {
	color: #3ea3b3;
	font-weight: 600
}

footer p a:hover {
	color: #3ea3b3;
}
